html{
    min-height: 100vh;
  }
  .container{
    max-height: 100vh;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  #admin-page{
    display: flex;
  }
  .sidebar {
    width: 350px;
    background-color: #0f79ea;
    color: rgb(238, 243, 245);
    height: 100vh;
    position: relative;
    gap: 40px;
    transition: transform 0.3s ease;
    z-index: 999; 
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  
  .sidebar.closed {
    width: 60px; 
    transform: translateX(0); 
  }
  
  .sidebar.open {
    width: 300px; 
    height: 100vh;
  
  }
  
  
  .sidebar.closed ul li i {
    margin-right: 10; 
  }
  
  .sidebar.closed ul li span {
    display: flex; 
  }
  
  .sidebar.open ul li span {
    display: inline-block;
  }
  
  .main-content {
    flex-grow: 1;
    transition: margin-left 0.3s ease;
  }
  
  .sidebar.closed ~ .main-content {
    margin-left: 60px; 
  }
   .content{
    width: 100vw;
    min-height:96.4vh;
    display: flex;
   }
   @media (max-width:667px){
    .container{
      max-height: 100vh;
      display: flex;
      overflow-y: hidden;
      overflow-x: auto;
    }
   }
   @media (max-width:376px){
    .container{
     
      max-height: 100vh;
      display: flex;
      overflow-y: auto;
      overflow-x: auto;
    }
    .content{
      overflow-y: auto;
    }
   }