/* Common Animation */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


 .all{
    opacity: 0; 
    animation: slideIn 0.1s ease-in forwards;
}

.one {
    animation-delay: 0s;
}

.two {
    animation-delay: 0.5s;
}

.three {
    animation-delay: 0.9s;
}

.four {
    animation-delay: 1s;
}

.five {
    animation-delay: 1.1s;
}

.six {
    animation-delay: 1.2s;
}

.seven {
    animation-delay: 1.3s;
}

.eight {
    animation-delay: 1.4s;
}

.nine {
    animation-delay: 1.5s;
}

.ten {
    animation-delay: 1.6s;
}

.eleven {
    animation-delay: 1.7s;
}

.twelve {
    animation-delay: 1.8s;
}

.thirteen {
    animation-delay: 1.9s;
}

.fourteen {
    animation-delay: 2s;
}

.fifteen {
    animation-delay: 2.1s;
}

.sixteen {
    animation-delay: 2.2s;
}